<h1>ayuda</h1>

<p>
EL quiz es una red social donde los usuarios pueden crear adivinazas y compartirlas entre ellos. 
EL objetivo del quiz es mostrar cual es la arquitectura de una aplicación web de lado servidor, que metodologías de desarrollo se utilizan y los elementos mas importantes de un portal web.
Este proyecto se ha desarrollado en 28 pasos y se ha desplegado en Heroku. 
</p>


